@font-face {
    font-family: 'Dinomik';
    src: url('dinomik.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #fff;
    --text-color: #40d672;
    --link-color: #cafad8;
    --link-hover-color: #4a7055;
    --em-color: #6bdd8d;
    --pre-bg-color: #dcf5e4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #b3e5be;
        --link-color: #80cbc4;
        --link-hover-color: #a7ffeb;
        --em-color: #a5d6a7;
        --pre-bg-color: #424242;
    }
}

body {
    background-color: var(--bg-color);
    font-size: 24px;
    font-family: 'Dinomik', sans-serif;
    margin: auto;
    max-width: 70ch;
    color: var(--text-color);
    line-height: 1.4
}

main,
footer {
    margin: auto;
    max-width: 70ch;
    padding: 2ch
}

main * {
    margin-bottom: 20px
}

h4 {
    margin-bottom: 2px
}

h4+p {
    margin-top: 0
}

a {
    font-weight: bold;
    color: var(--link-color)
}

a:hover {
    color: var(--link-hover-color)
}

a[target="_blank"]:after {
    content: "\00a0*";
    display: inline-block;
    text-decoration: none
}

em,
small {
    color: var(--em-color)
}

code {
    font-size: 14px
}

pre {
    padding: 5px 10px;
    background: var(--pre-bg-color)
}

img {
    margin: 0;
    max-width: 100%
}